services:
  server:
    image: amchokers-server:$IMAGE_TAG
    env_file:
      - .env
    network_mode: "host"
    ports:
      - "3010:3010"
    volumes:
      - /srv/logs:/srv/logs
      - /var/www/amchokers.ru/public:/app/public
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped

  sender:
    image: amchokers-sender:$IMAGE_TAG
    env_file:
      - .env
    network_mode: "host"
    volumes:
      - /srv/logs:/srv/logs
      - /var/www/amchokers.ru/public:/app/public
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped