.index-block-container {
  display: flex;
  flex-direction: column;
  row-gap: 15rem;
  width: 100%;
  margin-bottom: 10rem;
  margin-top: 100px;

  &-carousel {
    top: 9.6vw;
    margin-bottom: 2rem;
  }

  .guide {
    background-color: $dark-blue;
    height: 550px;
    border-radius: 40px;
    padding: 30px;

    img {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      width: calc(490px / 1.246);
      height: 490px;
    }

    &-text {
      background-color: $white;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      padding: 35px;

      ul {
        padding-left: 15px;
        margin-bottom: 0;
        list-style-type: decimal;
      }
    }
  }

  .see-all {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: $dark-blue;
    margin-top: 1rem;
  }

  .text-with-arrow, .text-with-arrow-reverse {
    position: relative;
    padding-bottom: 30px;

    &::before, &::after {
      content: '';
      position: absolute;
    }

    &::before {
      top: 53px;
      width: 100%;
      height: 2px;
      background: $grey-dark-font;
    }

    &::after {
      top: 46.3px;
      right: -3px;
      background-image: url('../../images/arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 11px;
      height: 15px;
    }

    &-reverse {
      &::after {
        right: auto;
        left: -3px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
}

.index-bg {
  background: $white;
}

@media (max-width: 1199px) {
  .index-block-container {
    margin-top: 30%;
    margin-bottom: 70%;
    row-gap: 6rem;

    &-carousel {
      margin-bottom: 3rem;

      .react-multiple-carousel__arrow--left {
        left: calc(10% + 1px);
        top: 38%;
      }

      .react-multiple-carousel__arrow--right {
        right: calc(10% + 1px);
        top: 38%;
      }
    }

    .see-all {
      position: absolute;
      bottom: -13vw;
      right: calc(var(--ratio) * 3vw);
    }

    .guide {
      height: unset;
      padding: 10px;

      &-text {
        padding: 25px;
        background-color: $white;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
      }
    }
  }
}