.index-block-container {
  display: flex;
  flex-direction: column;
  row-gap: 15rem;
  width: 100%;
  margin-bottom: 10rem;
  margin-top: 60%;

  &-carousel {
    top: 9.6vw;
    margin-bottom: 2rem;
  }

  .guide {
    position: relative;
    background-color: #888DA3;
    height: 500px;

    &-text {
      position: absolute;
      text-transform: uppercase;
      bottom: 10%;
      left: 10%;
    }
  }

  .see-all {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: $dark-blue;
    margin-top: 1rem;
  }
}

.index-bg {
  background: $white;
}

@media (max-width: 1199px) {
  .index-block-container {
    margin-top: 30%;
    margin-bottom: 70%;
    row-gap: 6rem;

    &-carousel {
      margin-bottom: 3rem;

      .react-multiple-carousel__arrow--left {
        left: calc(10% + 1px);
        top: 38%;
      }

      .react-multiple-carousel__arrow--right {
        right: calc(10% + 1px);
        top: 38%;
      }
    }

    .see-all {
      position: absolute;
      bottom: -13vw;
      right: calc(var(--ratio) * 3vw);
    }
  }
}