.index-block-container {
  display: flex;
  flex-direction: column;
  row-gap: 15rem;
  width: 100%;
  margin-bottom: 10rem;
  margin-top: 60%;

  &-carousel {
    top: 4.8vw;
  }

  .see-all {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $dark-blue;
    position: absolute;
    right: calc(var(--ratio)* 4.2vw);
    bottom: -10vw;
  }

  .guide {
    position: relative;
    background-color: #888DA3;
    height: 500px;

    &-text {
      position: absolute;
      text-transform: uppercase;
      bottom: 10%;
      left: 10%;
    }
  }
}

.index-bg {
  background: radial-gradient(circle at top, #f7f1f2 37%, #f6eff1 45%, #c4b7af 100%);
}

@media (max-width: 1367px) {
  .index-block-container .see-all {
      right: calc(var(--ratio) * 1.85vw);
    }
}