$base-delay: 0.2s; // Базовая задержка

@mixin apply-animation($count) {
  @for $i from 1 through $count {
    :nth-child(#{$i}) {
      opacity: 0;
      transform: translateY(-20px);
      animation: fadeInUp 0.5s forwards;
      animation-delay: ($base-delay * ($i - 1));
    }
  }
}

.warranty-fade, .delivery-fade {
  @include apply-animation(10);
}

.float-control-cart {
  position: fixed;
  height: 60px;
  bottom: 5%;
  border-radius: 7px;
  width: calc(100% - 24px);
  left: 12px;
  background-color: $dark-blue;
  z-index: 1000;
}

.float-custom-icon {
  .ant-float-btn-body .ant-float-btn-content {
    overflow: unset;
    
    .ant-float-btn-icon {
      width: unset;
    }
  }
}

@media (max-width: 1199px) {
  .image-gallery-content.image-gallery-thumbnails-right.fullscreen {
    text-align: center;
    
    & > .image-gallery-slide-wrapper.image-gallery-thumbnails-right {
      width: calc(100% - 30px);
    }
  }

  .ant-float-btn-group-top > .ant-float-btn-group-wrap {
    top: 22%;
    bottom: unset;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1; /* Делаем строки видимыми */
    transform: translateY(0); /* Возвращаем строки на место */
  }
}