:root {
  --galleryWidth: 320px;
  --galleryHeight: 416px;
}

@font-face {
  font-weight: 200;
  font-family: Oswald;
  src: url('../fonts/Oswald-ExtraLight.woff2') format('woff2'),
       url('../fonts/Oswald-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: Oswald;
  src: url('../fonts/Oswald-Light.woff2') format('woff2'),
       url('../fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: Oswald;
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
       url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Oswald;
  src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
       url('../fonts/Oswald-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: Oswald;
  src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
       url('../fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: GoodVibesPro;
  src: url('../fonts/Good-Vibes-Pro.woff2') format('woff2'),
       url('../fonts/Good-Vibes-Pro.ttf') format('truetype');
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  font-family: Oswald, sans-serif;
  background: $bg;
  background-attachment: fixed;
  background-size: cover;
  color: $font;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
}

#__next {
  overflow-x: hidden;
  overflow-y: scroll;
}

h2 {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.h2 {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  height: max-content;
}

.label {
  margin-bottom: 0.5rem;
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
}

.ant-breadcrumb a {
  height: auto;
}

.mb-3-5 {
  margin-bottom: 2.2em !important;
}

.py-3-5 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.mt-xl-2-5 {
  margin-top: 0.8rem !important;
}

.gap-2-5 {
  gap: 0.6rem !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.anim-show {
	opacity: 0;
	transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
	animation: show 1s 1;
  animation-fill-mode: forwards;
}

.icon {
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 1500;

  &-button {
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    box-shadow: none;

    &.not-hovered:hover {
      background-color: unset !important;
      background: unset !important;
    }
  }
}

.ant-input-group-addon .ant-btn-variant-solid, .ant-btn.ant-btn-color-primary {
  background: $dark-blue !important;

  &:active, &:hover, &:disabled {
    background: $button-background-active !important;
    color: $light-font !important;
  }
}

.hovered {
  &:active, &:hover {
    color: $ant-hover !important;
  }
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $button-background-active !important
  }
}

.button {
  background-color: $dark-blue;
  color: $white;
  font-family: Oswald, sans-serif !important;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1.2rem;
  display: flex;
  align-items: center;

  &:active, &:hover {
    background-color: $button-background-active !important;
    color: $white !important;
  }
}

.back-button {
  background-color: $font-error;
  color: $white;
  font-family: Oswald, sans-serif !important;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1.2rem;
  display: flex;
  align-items: center;

  &:active, &:hover {
    background-color: $font-error-hover !important;
    color: $white !important;
  }
}

.action-button {
  color: $white;
  font-family: Oswald, sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;

    &:active, &:hover {
      color: $white !important;
    }

  &.edit {
    background-color: $edit-button;

    &:active, &:hover {
      background-color: $edit-button-hover !important;
    }
  }

  &.remove {
    background-color: $remove-button;

    &:active, &:hover {
      background-color: $remove-button-hover !important;
    }
  }

  &.restore {
    background-color: $restore-button;

    &:active, &:hover {
      background-color: $restore-button-hover !important;
    }
  }

  &.send-to-telegram {
    background-color: $send-to-telegram-button;

    &:active, &:hover {
      background-color: $send-to-telegram-button-hover !important;
    }
  }
}

.border-button {

  .ant-radio-button-wrapper-checked,
  .ant-radio-button-wrapper-checked:active,
  .ant-radio-button-wrapper-checked:hover,
  .ant-radio-button-wrapper-checked:first-child {
    border-color: $button-background-active-dark;

    &::before {
      background-color: $button-background-active-dark;
    }
  }

  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    border-color: $button-background-active-dark;
  }
}

.ant-btn, .ant-btn-default:active {
  font-family: Oswald, sans-serif !important;
  font-weight: 400 !important;
  border-color: $dark-blue !important;
}

.ant-btn:not(:disabled):not(.ant-btn-disabled):hover {
  color: $button-background-active;
}

.switch-large {
  display: flex;
  align-items: center;
  height: 30px;

  .ant-switch-handle {
    top: unset;
    width: 20px;
    height: 20px;
    inset-inline-start: 2.5px;
  }

  .ant-switch-inner {
    align-content: center;

    &-checked, &-unchecked {
      font-size: 1rem !important;
    }
  }
}

.ant-switch.ant-switch-checked .ant-switch-handle {
  inset-inline-start: calc(100% - 22px) !important;
}

.ant-spin-fullscreen {
  z-index: 11000;
}

.ant-breadcrumb-separator {
  display: flex;
}

.image-gallery-slides {
  touch-action: pan-y;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 3rem !important;
  height: 3rem !important;
}

.image-gallery-index {
  z-index: unset;
}

.image-gallery-slide-wrapper.image-gallery-thumbnails-left {
  width: var(--galleryWidth);
  min-height: var(--galleryHeight);
}

.font-good-vibes-pro {
  font-family: GoodVibesPro;
  letter-spacing: 3px;
  font-size: 40px;
  margin: 0;
}

.collapse-without-padding .ant-collapse-content-box:has(> .without-padding) {
  padding: 0 !important;
}

.fs-5-5 {
  font-size: 1.1rem;
}

.fs-6-5 {
  font-size: 0.8rem !important;
}

.color-dark-blue {
  color: $dark-blue;
}

.image-gallery-icon {
  z-index: 1;
}

.disabled {
  border-color: #ced3dd !important;
  color: $grey-dark-font !important;;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}

.ant-menu-light .ant-menu-item-selected {
  color: $dark-blue;
  background-color: $grey-light;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected {
  color: $active-violet;

  &::after {
    border-bottom-color: $active-violet;
  }
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
  border-bottom-color: $active-violet-hover;
}

.ant-menu-light {

  .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: $active-violet;
  }

  &.ant-menu-horizontal > .ant-menu-submenu-selected::after {
    border-bottom-color: $active-violet;
  }

  &.ant-menu-horizontal > .ant-menu-submenu:hover::after {
    border-bottom-color: $active-violet-hover;
  }
}

.filter.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  color: $dark-blue !important;
  background-color: $bg-navbar !important;
}

.ant-input-affix-wrapper-lg {
  padding: 11px;
  font-size: 1.2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.button-link {
  background: unset;
  border: 0;
  padding: 0;
}

.ant-card .ant-card-body {
  padding: 40px 24px;
}

.font-oswald {
  font-family: Oswald, sans-serif !important;
}

.cart-control {
  background-color: $grey-light;
  border-radius: 10px;
  
  button {
    border: unset;
    background-color: unset;
    padding: 0 0.5rem;
    box-shadow: none;
  }
}

.ant-skeleton-image {
  border-radius: 7px !important;
}
.ant-input-number:hover, .ant-input-number:focus-within {
  border-color: $button-background-active-dark;
  box-shadow: unset;
}

.large-input {
  .ant-input-number-prefix {
    font-size: 1.35rem !important;
    font-family: Oswald, sans-serif !important;
    padding: 0 1rem 0 0;
  }

  .checkbox-center label, .checkbox-center span {
    display: flex !important;
    align-items: center !important;
  }

  input:not(.not-padding), textarea, .ant-select-selector, .ant-select-content:not(.not-padding), .ant-select-placeholder:not(.not-padding), .ant-checkbox-wrapper:not(.custom-size) {
    font-size: 1.35rem !important;
    padding: 0 !important;
    font-family: Oswald, sans-serif !important;
  }

  .ant-checkbox-wrapper.custom-size {
    font-size: 1rem !important;
    padding: 0 1rem 0 0;
    font-family: Oswald, sans-serif !important;

    .ant-checkbox + span {
      padding-inline: unset !important;
    }
  }

  .custom-placeholder > .ant-select-selector, .custom-placeholder ~ .ant-select-content, .custom-placeholder ~ .ant-select-placeholder, .custom-placeholder ~ .ant-input-number {
    font-size: 1rem !important;
    padding-left: 0.6rem !important;
  }

  .custom-placeholder {
    
    & input {
      font-size: 0.95rem !important;
      padding: 0.2rem 0.3rem !important;
    }

    & textarea {
      font-size: 1.2rem !important;
      padding-left: 1rem !important;
      padding-top: 0.5rem !important;
    }
}
  .ant-checkbox .ant-checkbox-inner, .ant-radio-wrapper .ant-radio-inner {
    width: 20px;
    height: 20px;
  }
}

.ant-select-outlined:hover .ant-select-selector,
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector,
.ant-input-outlined:hover,
.ant-input-outlined:focus-within {
  border-color: $dark-blue !important;
  box-shadow: none !important;
}

.ant-select {
  font-family: Oswald, sans-serif !important;

  &.ant-select-outlined:not(.ant-select-disabled) {
    &.ant-select-focused {
      box-shadow: unset;
    }
  }
}

.css-var-root.ant-select-css-var {
  --ant-select-hover-border-color: $button-background-active !important;
  --ant-select-active-border-color: $dark-blue !important;
}

.css-var-root.ant-input-css-var {
  --ant-input-active-border-color: $button-background-active !important;
  --ant-input-hover-border-color: $dark-blue !important;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: #f7f9fc !important;
  border-color: #ced3dd !important;
  color: $font;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: #edf2fa !important;
  color: $font;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #f7f9fc !important;
  border-color: #ced3dd !important;

  &::after {
    border-color: #2b3c5f !important;
    inset-inline-start: 30% !important;
  }
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after, .ant-radio-wrapper .ant-radio-checked::after {
  background-color: #2b3c5f !important;
}

.ant-radio-wrapper {
  font-family: Oswald, sans-serif;
  font-size: 1rem;

  .ant-radio-checked .ant-radio-inner {
    background-color: #f7f9fc !important;
    border-color: #ced3dd !important;
  }

  .ant-radio-inner::after {
    width: 30px !important;
    height: 30px !important;
    background-color: #2b3c5f !important;
    inset-inline-start: 11% !important;
    inset-block-start: 11% !important;
  }
}

.ant-float-btn-content .ant-float-btn-icon {
  color: $dark-blue !important;
}

.ant-float-btn {
  height: 40px;
  border: unset;
}

.instagram {
  position: relative;

  &::after {
    content: '*';
    position: absolute;
    right: -4px;
    top: -7px;
  }
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (min-width: 1367px) {
  .fs-xxl-5 {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 1199px) {
  .font-good-vibes-pro {
    font-size: 28px;
  }
  
  .fullscreen .image-gallery-image {
    height: 90vh !important;
  }

  .mt-xl-2-5 {
    margin-top: unset !important;
  }

  .ant-table-content {
    overflow-x: scroll;
  }

  .ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-list-item-actions .ant-upload-list-item-action {
    opacity: 1;
  }

  .upload-button-center > .ant-upload.ant-upload-select {
    display: flex;
    justify-content: center;
  }

  .large-input {
    input:not(.not-padding), textarea, .ant-select-selector, .ant-select-content:not(.not-padding), .ant-select-placeholder:not(.not-padding), .ant-checkbox-wrapper:not(.not-padding) {
      padding: 0.5rem !important;
    }

    .ant-input-number {
      input {
        font-family: Oswald, sans-serif !important;
      }

      &-input {
        padding: 0.2rem !important;
      }

      &-prefix {
        padding: 0 0 0 0.5rem;
      }
    }
  }

  .back-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .ymaps-2-1-79-controls__control {
    inset: 202px 16px auto auto !important;
  }

  .ymaps_maps-button.ymaps__icon_only {
    top: 100px !important;
    right: -5px !important;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}