.image-hover {
  position: relative;

  .title {
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    font-size: 1.2rem;
  }

  .description {
    position: absolute;
    bottom: -4.5rem;
    left: 0;
    font-size: 1.2rem;
  }

  img {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease; /* Плавный переход */
    opacity: 0; /* По умолчанию невидимо */

    &.active {
      opacity: 1; /* Видимо, когда активно */
    }
  }

  .sphere {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: relative;
    background-color: black;
    bottom: 15px;
    margin-left: 10px;

    &.active {
      background-color: #f4dada;
    }
  }
}