.nav {
  position: relative;
  width: 100%;
  background-color: $bg-navbar;
  padding: 1rem 3rem;

  .ant-menu {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &-menu {
    background-color: transparent;
    width: 100%;
    border-bottom: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}