.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  background-color: $bg-navbar;
  padding: 1rem 3rem;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  box-shadow: 0px 6px 24px 0px #0000000f;
  z-index: 2;
  transition: all 0.4s ease-in;

  &-logo {
    height: auto;

    &-container {
      width: 20%;
    }
  }

  &-menu {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: transparent;
    position: relative;
    top: 0.85rem;
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 74px;
    width: 20%;
  }

  &-lang {
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}

.ant-menu {
  border-bottom: unset;
  background: transparent;
  background-color: transparent;
  box-shadow: none;
  width: 100%;

  &-light {
    background-color: transparent;
  }

  &-submenu.bg-transparent {
    width: max-content;
  }
}

.ant-menu-light.ant-menu-submenu > .ant-menu {
  background-color: transparent;
}

.ant-menu-light.ant-menu-submenu-popup > .ant-menu {
  background-color: transparent;
}

.ant-menu-submenu-popup, .ant-menu-submenu {
  background-color: transparent;
}

.ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub {
  margin-top: -0.15rem !important;
}

.ant-menu-submenu-popup .ant-menu-vertical {
  box-shadow: none;

  .ant-menu-item {
    margin-inline: unset;
    padding-inline: unset;
  }
}

.ant-menu-submenu-placement-bottomLeft {
  padding-top: unset;
}

.ant-menu-sub > .ant-menu-item-only-child {
  font-family: Oswald, sans-serif !important;
  font-weight: 300;
  font-size: 0.9rem !important;
  letter-spacing: 2px !important;

  &.navbar-padding {
    padding: 0 5px !important;
    width: max-content !important;
  }
}

.ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-item {
  height: 35px;
  line-height: 35px;
}

.ant-radio-group {
  border: 1px solid $dark-blue;
  border-radius: 4px;

  .ant-radio-button-wrapper {
    background: $grey-light;
    color: $dark-blue;
    border: unset;

    &-checked:not(.ant-radio-button-wrapper-disabled):first-child {
      border-color: $dark-blue;
      border: unset;
      border-start-start-radius: unset;
      border-end-start-radius: unset;
      border-inline-start: unset;
    }

    &-checked:not(.ant-radio-button-wrapper-disabled) {
      color: $white;
      background: $dark-blue;
      border-start-end-radius: unset;
      border-end-end-radius: unset;
      border-start-end-radius: unset;
      border-end-end-radius: unset;

      &::before {
        background-color: $dark-blue;
      }
    }
  }
}

@supports (display: grid) {
  @media (min-width: 1200px) {
    .grid-submenu > .ant-menu.ant-menu-sub.ant-menu-vertical {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-flow: column;

      /* Если элементов ≥7 — активируем 2 колонки */
      &:has(> li:nth-child(7)) {
        grid-template-columns: repeat(2, 1fr);
      }

      /* Первые 6 элементов — в первой колонке */
      & > li:nth-child(-n + 6) {
        grid-column: 1;
      }

      /* Переносим элементы с 7-го во вторую колонку */
      & > li:nth-child(n + 7) {
        grid-column: 2;
      }
    }

    .grid-submenu > .ant-menu::before {
      content: unset;
    }
  }
}

@media (max-width: 1199px) {
  .nav {
    padding: 1rem;
    z-index: 10000;

    &-icons {
      width: 70%;
    }
  }

  .ant-menu-sub > .ant-menu-item-only-child {
    font-size: 0.7rem !important;
  
    &.navbar-padding {
      padding-left: 40px !important;
      width: 100% !important;
    }
  }

  .ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: unset;
  }

  .breadcrumb-one-line {

    & .ant-breadcrumb {
      display: block;
      width: 100%;
      overflow: hidden;

      & > ol {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        min-width: 0;

        & > li {
          display: flex;
          align-items: center;
          flex: 0 0 auto;
          min-width: 0;

          &.ant-breadcrumb-separator {
            flex: 0 0 auto;
          }

          &:last-child {
            flex: 1 1 0%;
            min-width: 0;

            & .ant-breadcrumb-link {
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              min-width: 0;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}