.ant-modal-root.promotional {

  .title {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90.25deg, #f7f0e5 33.77%, $bg 79.92%);
  }

  .promocode {
    border-color: $bg !important;
    color: $bg !important;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 1em 1.2em;
  }

  .ant-modal {
    border-radius: 8px;
    background-image: url('../images/promotional-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-content {
      background-color: unset;
      color: $bg;

      .anticon.anticon-close {
        color: $bg;
      }

      .tutorial {
        font-weight: 300;
      }
    }
  }
}