$font: #393644;
$bg-navbar: #f8f5f5;
$bg: #f7f9fc;
$dark-blue: #2b3c5f;
$button-background-active: #4d689e;
$button-background-active-dark: #1c273e;
$light-font: #f7f9fcd8;
$grey-dark-font: #69788e;
$white: #f9fafce8;
$font-error: #ff4d4f;
$font-error-hover: #fe8082;
$grey-light: #eaeef6;
$remove-button: #d45e60;
$remove-button-hover: #d57577;
$edit-button: #439327;
$edit-button-hover: #78ab65;
$restore-button: #74b6d5;
$restore-button-hover: #9ac4d7;
$send-to-telegram-button: #216995;
$send-to-telegram-button-hover: #4a7d9d;
$ant-hover: #1677ff;
$active-violet: #4b24b5;