name: Deploy to VPS [amchokers.ru]

on:
  push:
    branches:
      - production
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/amchokers:latest
        build-args: |
          NEXT_PUBLIC_PORT=${{ secrets.NEXT_PUBLIC_PORT }}
          NEXT_PUBLIC_SERVER_HOST=${{ secrets.NEXT_PUBLIC_SERVER_HOST }}
          NEXT_PUBLIC_PRODUCTION_HOST=${{ secrets.NEXT_PUBLIC_PRODUCTION_HOST }}
          NEXT_PUBLIC_API_PATH=${{ secrets.NEXT_PUBLIC_API_PATH }}
          NEXT_PUBLIC_STORAGE_KEY=${{ secrets.NEXT_PUBLIC_STORAGE_KEY }}
          NEXT_PUBLIC_LANGUAGE_KEY=${{ secrets.NEXT_PUBLIC_LANGUAGE_KEY }}
          NEXT_PUBLIC_NEW_ITEM_STORAGE_KEY=${{ secrets.NEXT_PUBLIC_NEW_ITEM_STORAGE_KEY }}
          NEXT_PUBLIC_URL_PERSONAL_TG_ACCOUNT=${{ secrets.NEXT_PUBLIC_URL_PERSONAL_TG_ACCOUNT }}
          NEXT_PUBLIC_URL_TG_ACCOUNT=${{ secrets.NEXT_PUBLIC_URL_TG_ACCOUNT }}
          NEXT_PUBLIC_URL_INST_ACCOUNT=${{ secrets.NEXT_PUBLIC_URL_INST_ACCOUNT }}
          NEXT_PUBLIC_APP_NAME=${{ secrets.NEXT_PUBLIC_APP_NAME }}
          NEXT_PUBLIC_WORK_PHONE=${{ secrets.NEXT_PUBLIC_WORK_PHONE }}
          NEXT_PUBLIC_CONTACT_MAIL=${{ secrets.NEXT_PUBLIC_CONTACT_MAIL }}
          NEXT_PUBLIC_FIO=${{ secrets.NEXT_PUBLIC_FIO }}
          NEXT_PUBLIC_FIO_EN=${{ secrets.NEXT_PUBLIC_FIO_EN }}
          NEXT_PUBLIC_INN=${{ secrets.NEXT_PUBLIC_INN }}
          NEXT_PUBLIC_PROMO=${{ secrets.NEXT_PUBLIC_PROMO }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy compose file to server
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.AM_PROJECTS_SSH_PRIVATE_KEY }}
          source: "docker-compose.prod.yml"
          target: "/var/www/amchokers.ru/"

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.AM_PROJECTS_SSH_PRIVATE_KEY }}
          script: |
            set -e
            cd /var/www/amchokers.ru/
            echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
            docker pull ${{ secrets.DOCKER_USERNAME }}/amchokers:latest
            docker compose -f docker-compose.prod.yml down
            docker compose -f docker-compose.prod.yml up -d
            docker image prune -f